<% @page_title = "Edit " + "'" + @page.name + "'" %>

<%= link_to("<< Back to list", {:action => 'list', :subject_id => @subject.id}, :class => 'back-link') %>

<div class="page edit">
  <h2>Update Page</h2>
  
  <%= form_for(:page, :url => {:action => 'update', :id => @page.id, :subject_id => @subject.id}) do |f| %><!-- same as new view but action is update and we include the @page.id in params -->
  
<%= render(:partial => "form", :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= submit_tag("Update Page") %>
    </div>

  <% end %>
</div>
