<% @page_title = "Edit " + "'" + @subject.name + "'" %>

<%= link_to("<< Back to list", {:action => 'list'}, :class => 'back-link') %>

<div class="subject edit">
  <h2>Update Subject</h2>
  
  <%= form_for(:subject, :url => {:action => 'update', :id => @subject.id}) do |f| %><!-- same as new view but action is update and we include the @subject.id in params -->
  
<%= render(:partial => "form", :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= submit_tag("Update Subject") %>
    </div>

  <% end %>
</div>
